repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff-lint
        entry: pixi run ruff check --force-exclude
        language: system
        types: [python]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run ruff format --force-exclude
        language: system
        types: [python]
        require_serial: true
